# React Native
# .env
.env

# node_modules
node_modules/

_tests_*
_mocks_*
android*
ios*
.vscode*

# Yarn Integrity file
.yarn-integrity

# Expo
.expo/
.expo-shared/

# Build files
android/build/
ios/build/
ios/Pods/

# macOS
.DS_Store

# Android Studio
.gradle/
local.properties

# NPM package-lock files
package-lock.json
yarn.lock

# IDE files
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native Packager
react-native-debugger/

# JetBrains
*.iml

# Temporary files
*.swp
*.swo

# Miscellaneous
*.bak
*.tmp
